Задача №57. Решение в группах
1. Прочесть с помощью pandas файл california_housing_test.csv, который находится в папке sample_data
2. Посмотреть сколько в нем строк и столбцов
3. Определить какой тип данных имеют столбцы

In [9]:
import pandas as pd
import matplotlib
import seaborn as sns

In [52]:
df = pd.read_csv('california_housing_train.csv')
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0

In [53]:
df.shape

(17000, 9)

In [54]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

Задача №59. Решение в группах
1. Проверить есть ли в файле пустые значения

In [56]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

2. Показать median_house_value где median_income < 2

In [71]:
df.loc[df.median_income < 2, ['median_income', 'median_house_value']]

       median_income  median_house_value
0             1.4936             66900.0
1             1.8200             80100.0
2             1.6509             85700.0
4             1.9250             65500.0
7             1.7083             48500.0
...              ...                 ...
16984         1.8242             70000.0
16989         1.6528             58100.0
16990         1.7038             78300.0
16994         1.9417             76100.0
16998         1.9797             85800.0

[2005 rows x 2 columns]

3. Показать данные в первых 2 столбцах

In [70]:
df.iloc[ : , 0:2]

       longitude  latitude
0        -114.31     34.19
1        -114.47     34.40
2        -114.56     33.69
3        -114.57     33.64
4        -114.57     33.57
...          ...       ...
16995    -124.26     40.58
16996    -124.27     40.69
16997    -124.30     41.84
16998    -124.30     41.80
16999    -124.35     40.54

[17000 rows x 2 columns]

4. Выбрать данные где housing_median_age < 20 и median_house_value > 70000

In [74]:
df.loc[(df.housing_median_age < 20) & (df.median_house_value > 70000)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
10,-114.60,33.62,16.0,3741.0,801.0,2434.0,824.0,2.6797,86500.0
23,-114.98,33.82,15.0,644.0,129.0,137.0,52.0,3.2097,71300.0
...,...,...,...,...,...,...,...,...,...
16976,-124.17,40.75,13.0,2171.0,339.0,951.0,353.0,4.8516,116100.0
16983,-124.19,41.78,15.0,3140.0,714.0,1645.0,640.0,1.6654,74600.0
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0

Задача №61. Решение в группах
1. Определить какое максимальное и минимальное значение median_house_value

In [76]:
df.median_house_value.max(), df.median_house_value.min()

(500001.0, 14999.0)

2. Показать максимальное median_house_value, где median_income = 3.1250

In [80]:
df.loc[(df.median_income == 3.125), ['median_income', 'median_house_value']].max()

median_income              3.125
median_house_value    380400.000
dtype: float64

3. Узнать какая максимальная population в зоне минимального значения median_house_value

In [86]:
df1 = df.loc[df.median_house_value < df.median_house_value.quantile(.25)]
df1.population.max()

28566.0